/*-----Notes-----*/

/* 
font-family: 'Rubik', sans-serif; 
font-family: 'Open Sans', sans-serif;


white: #FFFFFF;
black: #333333;
magenta: #C74B72;
gray: #9A9A9A;

*/

/*-----Global-----*/
* {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   font-size: 100%;
   vertical-align: baseline;
   box-sizing: border-box;
}

*::before,
*::after {
   box-sizing: border-box;
}

html {
   font-family: 'Open Sans', sans-serif;
}

body {
   width: 100%;
   /* background-color: #FFFFFF; */
   margin: 0 auto;
}

.wrapper {
   /* border: 1px solid blue; */
   margin: 0 auto;
   width: 100%;
}

.clearfix::after {
   content: "";
   clear: both;
   display: table;
}

h1 {
   font-family: 'Rubik', sans-serif;
   font-weight: 400;
   font-size: 2.50rem;
   text-transform: uppercase;
   letter-spacing: 5px;
}

h2 {
   font-family: 'Rubik', sans-serif;
   font-weight: 300;
   font-size: 1.50rem;
   text-transform: uppercase;
   letter-spacing: 5px;
}

h3 {
   font-family: 'Rubik', sans-serif;
   font-weight: 300;
   font-size: 1.75rem;
   text-transform: uppercase;
   letter-spacing: 5px;
}

h4 {
   font-family: 'Rubik', serif;
   text-transform: uppercase;
   font-weight: 300;
   letter-spacing: 1px;
}

p {
   font-weight: 300;
   color: #333333;
}

a {
   font-family: 'Rubik', sans-serif;
   font-weight: 300;
   text-decoration: none;
   font-size: 1.50rem;
}

span {
   color: #C74B72;
   font-size: 1.25rem;
}

.sub-heading {
   color: #FFFFFF;
   text-transform: uppercase;
   letter-spacing: 2px;
   font-size: .85rem;
}

.tagline {
   color: #FFFFFF;
}

.section-title {
   margin-bottom: 2em;
}

header {
   max-width: 2500px;
   margin: auto;
   position: relative;
   /* border: 1px solid cyan; */
}

.moto {
   /* border: 1px solid lavender; */
   color: #333333;
}


/*-----Navigation Styles-----*/
.logo {
   width: 90px;
   top: 10px;
   left: 30px;
   position: absolute;
   overflow: hidden;
}

nav {
   height: 100px;
   overflow: visible;
}

nav ul {
   float: right;
   margin: 15px 0;
   list-style: none;
}

nav ul li {
   display: inline-block;
   margin: 1em;
}

nav ul li a {
   position: relative;
   text-decoration: none;
   padding: 5px;
   font-size: 1.05rem;
   text-transform: uppercase;
   letter-spacing: 2px;
   color: #333333;
}

nav a:hover{
   color: #C74B72;
   border-bottom: 2px solid #C74B72;
}

.active {
   color: #C74B72;
}

.citas {
   color: #FFFFFF;
   padding: 8px 18px;
   letter-spacing: 2px;
   border-radius: 5px;
   background: linear-gradient(45deg, #fe3464, #BD354C);
   box-shadow: 0 6px 25px rgba(254, 52, 100, 0.4);
   border: 1px solid transparent;
}

.citas:hover,
.citas:focus {
   background: none;
   border: 1px solid #fe3464;
   box-shadow: 0 12px 45px rgba(254, 52, 100, 0.2);
   color: #C74B72;
}

.fb {
   display: block;
}

 
/*-----SIDEBAR MENU-----*/
.sidebar {
   height: 100%;
   width: 0;
   position: fixed;
   z-index: 1;
   top: 9%;
   right: 0;
   /* background-color: #BD354C; */
   background-color: #8F2D56;
   overflow-x: hidden;
   transition: 0.5s;
   padding-top: 60px;
   opacity: .97;
   display: none;
}

.sidebar a {
   padding: 10px 18px;
   margin: 2em auto;
   font-size: 1.05rem;
   text-transform: uppercase;
   letter-spacing: 3px;
   color: #FFFFFF;
   display: block;
   transition: 0.3s;
   text-align: center;
}

.dropdown-btn {
   font-family: 'Rubik', sans-serif;
   background: none;
   padding: 10px 18px;
   margin: 2em auto;
   font-size: 1.25rem;
   text-transform: uppercase;
   letter-spacing: 3px;
   color: #FFFFFF;
   display: block;
   transition: 0.3s;
   text-align: center;
   font-weight: 300;
}

.sidebar a:hover,
.dropdown-btn:hover {
   border-bottom: 2px solid #EABFCB;
}

.dropdown-container {
   display: none;
   padding-left: 45%;
}

.dropdown-container a {
   text-align: left;
   padding: 0px 18px;
   color: #EABFCB;
}

.fa-caret-down {
   float: right;
   padding-left: 18px;
}


.sidebar .closebtn {
   position: absolute;
   top: 0;
   right: 42px;
   font-size: 3em;
   margin-left: 50px;
   margin: 0;
}

.openbtn {
   font-size: 3em;
   cursor: pointer;
   color: #FFFFFF;
   padding: 10px 15px;
   border: none;
   right: 5%;
   background: none;
   position: fixed;
   display: none;
}

.sidebar .book {
   border-color: #FFFFFF;
   background-color: #FFFFFF;
   width: 40%;
   margin: 1em auto;
   padding: 12px 18px;
   border-radius: 50px;
   box-shadow: 0px 5px 38px #FF006E;
   color: #FF006E;
   text-align: center;
}

#main {
   transition: margin-right .5s;
   padding: 16px;
}

.sidebar .active {
   border-bottom: 2px solid rgba(234, 191, 203, .3);
   width: 20%;
}


/*-----Intro-----*/
.intro {
   background-image: url(/img/branding/introX.png);
   background-position: center center;
   background-size: cover;
   -webkit-background-size:cover;
   -moz-background-size:cover;
   -o-background-size:cover;
   width: 100%;
   text-align: center;
   height: 75vh;
   padding: 20vh 1em;
   overflow-x: hidden;
}

.logoName {
   width: 30%;
   /* max-width:30%; */
   margin-right: 15px;
   margin-bottom: 14em;
   overflow: visible;
   overflow-x: hidden;
   position: relative;
}

.intro .section-title {
   color: #FFFFFF;
   margin-top: 50px;
}

.tagline {
   /* border: 1px solid aliceblue; */
   position: absolute;
   left: 0;
   right: 0;
   bottom: 5%;
   margin-left: auto;
   margin-right: auto;
}


/*-----About Us-----*/
.about-us {
   /* border: 1px solid orange; */
   width: 80%;
   max-width: 1500px;
   margin: 5em auto;
   padding: 3em;
   overflow-x: hidden;
}

.about-us-content {
   /* border: 1px solid red; */
   max-width: 2200px;
   margin: 40px auto;
   display: flex;
   flex-direction: row;
   position: relative;
}

.about-us-video {
   width: 520px;
   margin: 2%;
}

.about-us-body {
   /* border: 1px solid yellow; */
   display: flex;
   flex-direction: column;
   padding: 1em auto;
   justify-content: top center;
   width: 50%;
   letter-spacing: 1px;
   margin: 0 3%;
}

.about-us-body span {
   font-size: 1.50rem;
}

.about-us-body p {
   font-size: 1.50rem;
}

/*-----Services-----*/
.services {
   /* border: 1px solid royalblue; */
   /* padding: 3em; */
   width: 90%;
   text-align: center;
   margin: 5em auto;
   overflow-x: hidden;
}

.service-grid {
   /* border: 1px solid red; */
   max-width: 1500px;
   margin: 100px auto;
   position: relative;
   overflow: hidden;
   display: flex;
   flex-wrap: row;
}

.container {
   /* border: 1px solid fuchsia; */
   position: relative;
   margin: auto;
   display: flex;
   flex: 0 1 33%;
   cursor: pointer;
   padding: 1%;
}

.x {
   display: none;
   border: none;
}

.services .section-title {
   color: #C74B72;
   margin-top: 2em;
}

.image {
   display: block;
   height: auto;
   width: 100%;
   padding: 1%;
}

.overlay {
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   height: 100%;
   width: 86%;
   opacity: 0;
   transition: .5s ease;
   background-color: rgb(199, 75, 114, 0.3);
   z-index: 1;
   background-position: center;
}

.container:hover .overlay {
   opacity: 1;
}

.overlay-text {
   color: white;
   position: absolute;
   top: 50%;
   left: 50%;
   -webkit-transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
   text-align: center;
}

.menu-text {
   display: none;
   color: white;
   position: absolute;
   top: 50%;
   left: 50%;
   -webkit-transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
   text-align: center;
   opacity: .8;
}

/*-----Promos-----*/
#promo:before {
   content:"";
   display:block;
   height: 200px; /* fixed header height*/
   margin:-90px 0 0; /* negative fixed header height */
   }

.promo {
   background-image: url(/img/assets/promoX.jpg);
   background-blend-mode: multiply;
   background-position: center center;
   background-size: cover;
   -webkit-background-size:cover;
   -moz-background-size:cover;
   -o-background-size:cover;
   width: 100%;
   height: 1200px;
   padding: 3em;
   margin: 5em auto;
   text-align: center;
   overflow-x: hidden;
}

.promo .section-title {
   color: #FFFFFF;
   margin-top: 1em;
}

.promo .break {
   display: none;
}

.promo-container {
   /* border: 1px solid red; */
   max-width: 1400px;
   width: 1200px;
   height: 700px;
   margin: 120px auto;
   position: relative;
   overflow: hidden;
   display: flex;
   flex-flow: wrap;
   justify-content: center;
}

.promo-card {
   width: 500px;
   height: 620px;
   margin: 3% auto;
}

.promo-content {
   border-radius: 30px;
   background-color: #FFFFFF;
   flex: 0 1 50%;
   display: flex;
   flex-direction: column;
   padding: 2em;
   justify-content: top center;
   position: relative;
   width: 100%;
   height: 100%;
}

.promo-content p {
   font-size: 1.50em;
}

.promo-title {
   font-size: 2rem;
   margin-bottom: .25em;
}

.promo-highlight {
   color: #C74B72;
   margin-bottom: 2em;
   font-weight: 300;
   letter-spacing: 1px;
}

.promo-body {
   /* border: 1px solid fuchsia; */
   color: #9A9A9A;
   height: 300px;
   margin: auto;
   text-align: center;
}

.promo-btn {
   padding: 8px 18px;
   border: 2px solid #C74B72;
   background-color: #FFFFFF;
   border-radius: 50px;
   width: 180px;
   height: 50px;
   text-align: center;
   text-transform: uppercase;
   color: #C74B72;
   margin: 40px auto 0px auto;
   letter-spacing: 1px;
}

.long {
   width: 200px;
}

.promo-btn:hover {
   background-color: #C74B72;
   color: #FFFFFF;
}


/*-----Contact-----*/
.contact {
   /* border: 1px solid teal; */
   width: 100%;
   max-width: 1500px;
   margin: 5em auto;
   padding: 1em;
   overflow-x: hidden;
}

.contact-content {
   /* border: 1px solid pink; */
   max-width: 1500px;
   width: 1100px;
   margin: auto;
   display: flex;
   flex-direction: row;
   position: relative;
}

.contact h3 {
   /* border: 1px solid orangered; */
   margin: 1em auto;
   text-align: center;
   color: #333333;
   font-size: 1.25rem;
   height: 100px;
   padding: 1em 0;
   width: 400px;
}

/*-----Location-----*/
.location {
   /* border: 1px solid olivedrab; */
   max-width: 500px;
   display: flex;
   flex-direction: column;
   justify-content: top center;
   width: 50%;
   margin: 0 2%;
   position: relative;
   overflow: hidden;
}

.map {
   filter: grayscale(100%);
   margin: 4em 2em;
   position: absolute;
   top: 20%;
   left: 0;
}


/*-----Social-----*/
.insta {
   /* border: 1px solid purple; */
   max-width: 500px;
   justify-content: top center;
   width: 50%;
   margin: auto;
}

.feed {
   /* border: 1px solid hotpink; */
   margin: 80px auto;
}

.feed-content {
   /* border: 1px solid palegreen; */
   display: flex;
   flex-flow: wrap;
   width: 200px;
   height: 200px;
   margin: 4%;
   display: inline-block;
   overflow: hidden;
}

.feed img {
   width: 150%;
   height: 100%;
   transform: translate(-10%)
}

.insta a {
   font-size: 1.25rem;
   color: #C74B72;
}

/*-----Footer-----*/
footer {
   /* border: 1px solid red; */
   width: 100%;
   padding: 1em;
   text-align: center;
   margin: 200px 0 20px 0;
   overflow-x: hidden;
}

.footer-nav {
   /* border: 1px solid skyblue; */
   height: 50px;
   margin: 0 auto;
}

.footer-nav ul {
   /* border: 1px solid black; */
   display: flex;
   list-style: none;
   margin: 0 0 0 50px;
   padding: 0;
   justify-content: center;
   align-items: center;
}

.footer-nav a {
   display: inline-block;
   padding: 0 0.3em;
   margin: 1em;
   color: #333333;
   text-transform: uppercase;
   font-size: 1.25rem;
   letter-spacing: 1px;
}

.footer-nav a:hover {
   color: #C74B72;
}

.social {
   /* border: 1px solid magenta; */
   margin: 2em 0 4em 0;
}

.social a {
   display: inline-block;
   margin: 15px 10px;
}

.social img {
   width: 30px;
}

.copyright {
   color: #9A9A9A;
   font-size: 1.25rem;
}

/************************************************/

/* CLINCIC CONTACT */
.clinic-info {
   background-image: url(/img/branding/equip.jpg);
   background-blend-mode: multiply;
   background-color: #9A9A9A;
   background-position: center center;
   background-size: cover;
   -webkit-background-size:cover;
   -moz-background-size:cover;
   -o-background-size:cover;
   text-align: center;
   height: 75vh;
   padding: 20vh 1em;
   /* overflow-x: hidden; */
}

.section-title {
   margin-top: 6em;
   margin-bottom: 2em;
   color: #FFFFFF;
}

.intro-title {
   margin-bottom: 2em;
   color: #FFFFFF;
}

.clinic {
   /* border: 1px solid teal; */
   width: 90%;
   max-width: 1500px;
   margin: 5em auto;
   padding: 1em;
}

.clinic-content {
   /* border: 1px solid pink; */
   max-width: 2000px;
   margin: 0 auto;
   display: flex;
   flex-direction: row;
   position: relative;
}

.clinic-title {
   margin: 1em .5em;
}

.clinic .location {
   /* border: 1px solid orchid; */
   padding: 1em;
   margin: 0 auto;
}

.clinic .map {
   top: 30%;
}

.location h2 {
   color: #333333;
   font-size: 1.25rem;
   padding: 1em;
}

.in-touch {
   /* border: 1px solid firebrick; */
   margin: 0 auto;
   padding: 1em;
   letter-spacing: 1px;
   width: 40%;
}

.in-touch h2,
p {
   color: #333333;
   font-size: 1.25rem;
   padding: 1em 1em 0;
}

.in-touch span {
   color: #C74B72;
   font-size: 1.25rem;
}

.schedule {
   /* border: 1px solid blue; */
   margin-bottom: 5em;
   padding: 0 1em 1em 0;
}

.clinic-break {
   display: none;
}

.rsvp {
   /* border: 1px solid blue; */
   margin-bottom: 3em;
   padding: 0 1em 1em 0;
}

.contact-btn {
   padding: 8px 18px;
   border: 2px solid #FFFFFF;
   background-color: #C74B72;
   border-radius: 50px;
   width: 180px;
   height: 50px;
   text-align: center;
   text-transform: uppercase;
   color: #FFFFFF;
   margin: 40px 15px;
   letter-spacing: 1px;
}

.contact-btn:hover {
   background-color: #FFFFFF;
   color: #C74B72;
   border: 2px solid #C74B72;
   /* background-color: rgb(199,75,114, 0.8);
   color: #FFFFFF;  */
}

.clinic-foot .moto {
   text-align: center;
   margin: 100px auto;
   color: #C74B72;
}

.clinic-foot {
   clear: both;
}