/*-----Global-----*/
* {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   font-size: 100%;
   vertical-align: baseline;
   box-sizing: border-box;
}

*::before,
*::after {
   box-sizing: border-box;
}

html {
   font-family: 'Open Sans', sans-serif;
}

body {
   width: 100%;
   background-color: #FFFFFF;
   margin: 0 auto;
}

.wrapper {
   /* border: 1px solid blue; */
   margin: 0 auto;
   width: 100%;
}

.clearfix::after {
   content: "";
   clear: both;
   display: table;
}

h1 {
   font-family: 'Rubik', sans-serif;
   font-weight: 400;
   font-size: 2.50rem;
   text-transform: uppercase;
   letter-spacing: 5px;
}

h2 {
   font-family: 'Rubik', sans-serif;
   font-weight: 300;
   font-size: 1.50rem;
   text-transform: uppercase;
   letter-spacing: 5px;
}

h3 {
   font-family: 'Rubik', sans-serif;
   font-weight: 300;
   font-size: 1.75rem;
   text-transform: uppercase;
   letter-spacing: 5px;
}

h4 {
   font-family: 'Rubik', serif;
   text-transform: uppercase;
   font-weight: 300;
   letter-spacing: 1px;
}

p {
   font-weight: 300;
   color: #333333;
}

a {
   font-family: 'Rubik', sans-serif;
   font-weight: 300;
   text-decoration: none;
   font-size: 1.50rem;
   letter-spacing: 2px;
}

span {
   color: #C74B72;
   font-size: 1.25rem;
}

.logo {
   width: 90px;
   top: 10px;
   left: 30px;
   position: absolute;
   overflow: hidden;
   /* border: 1px solid paleturquoise; */
}

nav {
   height: 100px;
   overflow: visible;
}

nav ul {
   float: right;
   margin: 15px 0;
   list-style: none;
}

nav ul li {
   display: inline-block;
   margin: 1em;
}

nav ul li a {
   position: relative;
   text-decoration: none;
   padding: 5px;
   font-size: 1.05rem;
   text-transform: uppercase;
   letter-spacing: 2px;
   color: #333333;
}

nav a:hover,
nav a:focus {
   color: #C74B72;
   border-bottom: 2px solid #C74B72;

}

.active {
   color: #C74B72;
}

.sidebar .active {
   border-bottom: 2px solid rgba(234, 191, 203, .3);
}

nav a:hover {
   color: #C74B72;
   border-bottom: 2px solid #C74B72;
}

.active {
   color: #C74B72;
}

.sub-menu {
   position: absolute;
   margin-left: 8em;
}

.sub-menu a:hover {
   color: #C74B72;
}

.sub-menu li:hover {
   color: #C74B72;
}

.citas {
   color: #FFFFFF;
   padding: 8px 18px;
   letter-spacing: 2px;
   border-radius: 5px;
   background: linear-gradient(45deg, #fe3464, #BD354C);
   box-shadow: 0 6px 25px rgba(254, 52, 100, 0.4);
}

.citas:hover,
.citas:focus {
   background: none;
   box-shadow: 0 12px 45px rgba(254, 52, 100, 0.6);
   color: #C74B72;
   border: none;
}

.indent {
   text-indent: 1em;
   margin-top: .25em;
}

.indent span {
   font-family: 'Rubik', sans-serif;
   font-weight: 300;
   font-size: 1rem;
   text-transform: uppercase;
   letter-spacing: 5px;
}


/*-----SIDEBAR MENU-----*/
.sidebar {
   height: 100%;
   width: 0;
   position: fixed;
   z-index: 1;
   top: 9%;
   right: 0;
   background-color: #BD354C;
   overflow-x: hidden;
   transition: 0.5s;
   padding-top: 60px;
   opacity: .97;
   display: none;
}

.sidebar a {
   padding: 10px 18px;
   margin: 2em auto;
   font-size: 1.05rem;
   text-transform: uppercase;
   letter-spacing: 3px;
   color: #FFFFFF;
   display: block;
   transition: 0.3s;
   text-align: center;
}

.dropdown-btn {
   font-family: 'Rubik', sans-serif;
   background: none;
   padding: 10px 18px;
   margin: 2em auto;
   font-size: 1.25rem;
   text-transform: uppercase;
   letter-spacing: 3px;
   color: #FFFFFF;
   display: block;
   transition: 0.3s;
   text-align: center;
   font-weight: 300;
}

.sidebar a:hover,
.dropdown-btn:hover {
   border-bottom: 2px solid #EABFCB;
}

.sidebar a:visited, {
   color: #FFFFFF;
}

.dropdown-container {
   display: none;
   padding-left: 45%;
}

.dropdown-container a {
   text-align: left;
   padding: 0px 18px;
   color: #EABFCB;
}

.dropdown-container a:visited {
   color: #EABFCB;
}

.fa-caret-down {
   float: right;
   padding-left: 18px;
}

.sidebar .closebtn {
   position: absolute;
   top: 0;
   right: 42px;
   font-size: 3em;
   margin-left: 50px;
   margin: 0;
}

.openbtn {
   font-size: 3em;
   cursor: pointer;
   color: #EF4B6C;
   padding: 10px 15px;
   border: none;
   right: 5%;
   background: none;
   position: fixed;
   display: none;
}

.sidebar .book {
   border-color: #FFFFFF;
   background-color: #FFFFFF;
   width: 40%;
   margin: 1em auto;
   padding: 12px 18px;
   border-radius: 50px;
   box-shadow: 0px 5px 38px #FF006E;
   color: #FF006E;
   text-align: center;
}

#main {
   transition: margin-right .5s;
   padding: 16px;
}

/*-----SERVICES-----*/
.menu {
   /* border: 1px solid royalblue; */
   width: 80%;
   padding: 1em;
   margin: 5em auto 10em;
}

.menu-grid {
   /* border: 1px solid red; */
   max-width: 1300px;
   margin: 0 auto;
}

.menu-heading {
   /* border: 1px solid black; */
   margin: 2%;
   width: 100%;
}

.combo-title {
   font-weight: 300;
}

.menu-container {
   /* border: 1px solid fuchsia; */
   position: relative;
   margin: 4% auto;
   display: flex;
   flex-direction: row;
   width: 90%;
}

.menu-info {
   /* border: 1px solid yellow; */
   margin: 2%;
   letter-spacing: 1px;
   width: 100%;
}

.menu-info p {
   padding-left: 0;
   font-size: 1.25rem;
}

.total {
   /* border: 1px solid greenyellow; */
   margin: 2% 0;
   width: 200px;
   text-align: right;
}

.menu-price {
   /* border: 1px solid green; */
   margin: 2% 0;
   width: 200px;
   text-align: right;
}

.menu-price h2 {
   color: #C74B72;
}

.menu-info h2 {
   color: #C74B72;
   font-size: 1rem;
}

.menu-price p {
   font-size: 1.25rem;
   padding-right: 0;
}

.includes {
   font-size: 1rem;
   color: #9A9A9A;
   margin: 30px 0;
}

.menu-title-og {
   display: block;
}

.menu-title-break {
   display: none;
}

.menu-og {
   display: block;
}

.menu--micro {
   display: block;
}

.menu-micro {
   display: none;
}

.menu-break {
   display: none;
}

.menu-min {
   display: none;
}

.combo-og {
   display: block;
}

.combo-min {
   display: none;
}

.soon {
   display: none;
}


/*-----Footer-----*/
footer {
   /* border: 1px solid red; */
   width: 100%;
   padding: 1em;
   text-align: center;
   margin: 200px 0 20px 0;
   overflow-x: hidden;
}

.footer-nav {
   /* border: 1px solid skyblue; */
   height: 50px;
   margin: 0 auto;
}

.footer-nav ul {
   /* border: 1px solid black; */
   display: flex;
   list-style: none;
   margin: 0 0 0 50px;
   padding: 0;
   justify-content: center;
   align-items: center;
}

.footer-nav a {
   display: inline-block;
   padding: 0 0.3em;
   margin: 1em;
   color: #333333;
   text-transform: uppercase;
   font-size: 1.25rem;
   letter-spacing: 1px;
}

.footer-nav a:hover {
   color: #C74B72;
}

.social {
   /* border: 1px solid magenta; */
   margin: 2em 0 4em 0;
}

.social a {
   display: inline-block;
   margin: 15px 10px;
}

.social img {
   width: 30px;
}

.copyright {
   color: #9A9A9A;
   font-size: 1.25rem;
   letter-spacing: 1px;
}



/************************************************/
@media only screen and (max-width: 1920px) {
   .menu-info {
      width: 80%;
   }

   .menu-info h1 {
      font-size: 2rem;
   }

   .menu-price {
      width: 30%;
   }

   .total {
      width: 50%;
   }
}

@media only screen and (max-width: 1366px) {
   .menu-info {
      width: 90%;
   }

   .menu p {
      font-size: 1.15rem;
   }

   .total {
      width: 20%;
   }
}


@media only screen and (max-width: 1112px) {

   /*-----Header-----*/
   nav {
      height: 160px;
   }

   /*-----Menu-----*/
   h1 {
      font-size: 1.75rem;
   }

   .menu {
      margin: 3em auto;
   }

   .menu p {
      font-size: 1.15rem;
   }

   .menu-container {
      margin: 6% auto;
   }
}

@media only screen and (max-width: 1024px) {
   .logo {
      top: 15px;
      width: 70px;
   }

   h1 {
      font-size: 1.50rem;
   }

   .menu p {
      font-size: 1.15rem;
   }

   .menu-container {
      margin: 6% auto;
      width: 90%;
   }

   .menu-price h2 {
      font-size: 1.25rem;
   }

   .total {
      width: 50%;
      margin-top: 0;
   }
}

@media only screen and (max-width: 834px) {
   .wrapper {
      border: 1px solid #FFFFFF;
   }

   nav .sidebar,
   .openbtn {
      display: block;
   }

   .sidebar {
      padding-top: 15px;
   }

   .sidebar a,
   .dropdown-btn {
      font-size: 1.50em;
   }

   .dropdown-container a {
      font-size: 1.25em;
   }

   nav {
      position: fixed;
      background-color: #FFFFFF;
      width: 100%;
      z-index: 1;
      height: 100px;
   }

   .citas,
   nav ul {
      display: none;
   }

   .sidebar .book {
      display: block;
   }

   .sidebar a:hover,
   .sidebar a:focus {
      border: none;
   }

   .menu {
      width: 92%;
      margin: 7em auto;
   }

   .menu-container {
      margin: 2em auto;
   }

   .menu-heading {
      width: 80%;
   }

   .menu-heading h1 {
      font-size: 2rem;
   }

   .menu-heading span {
      font-size: 1.50rem;
   }

   .menu-title-og {
      display: none;
   }

   .menu-title-break {
      display: block;
   }

   .menu-price h2 {
      font-size: 1.50rem;
   }

   .menu-info h3 {
      font-size: 1.50rem;
   }

   .menu-price {
      width: 200px;
   }

   .menu-container p {
      font-size: 1.125rem;
   }

   .menu-price p {
      padding-bottom: 0;
      font-size: 1rem;
   }

   .total h1 {
      font-size: 2rem;
   }
}


@media only screen and (max-width: 768px) {
   nav ul {
      display: none;
   }

   nav .sidebar {
      display: block;
   }

   .sidebar {
      padding-top: 15px;
   }

   .sidebar a,
   .dropdown-btn {
      font-size: 1.50em;
      margin: 1.25em auto;
   }

   .dropdown-container a {
      font-size: 1.25em;
   }

   .logo {
      left: 20px;
   }

   .menu {
      width: 100%;
   }

   .menu-container {
      width: 90%;
   }

   .menu-heading {
      width: 100%;
      margin: 0;
   }

   .copyright {
      font-size: 1rem;
   }

   .menu-info {
      margin-left: 0;
   }

}


@media only screen and (max-width: 414px) {

   nav ul {
      height: 100vh;
   }

   .openbtn {
      top: 5px;
   }


   .sidebar {
      top: 11%;
   }

   .sidebar a,
   .dropdown-btn {
      font-size: 1.25rem;
   }

   .sidebar .book {
      width: 70%;
   }

   .sidebar .active {
      width: 60%;
   }

   .dropdown-container {
      padding-left: 25%;
   }

   .dropdown-container a {
      font-size: 1rem;
   }

   .menu-container {
      flex-direction: column;
      padding: 1%;
      margin: 4em auto;
      width: 100%;
   }

   .total {
      display: none;
   }

   .menu-info {
      width: 100%;
      margin: 0;
   }

   .menu-heading h1 {
      font-size: 1.50rem;
   }

   .menu-heading span {
      font-size: 1.25rem;
   }

   .menu-price {
      width: 100%;
      text-align: left;
      margin-top: 1em;
   }

   .menu-price p {
      padding-left: 0;
   }

   .menu-info span {
      font-size: 1rem;
   }

   .menu-og {
      display: none;
   }

   .menu-break {
      display: block;
   }

   .menu-break span {
      font-size: 1.50rem;
   }

   .includes {
      margin-bottom: 0;
   }

   .footer-nav {
      display: none;
   }

   .copyright {
      font-size: 1rem;
      letter-spacing: 0;
   }
}


@media only screen and (max-width: 375px) {
   .sidebar {
      top: 15%;
   }

   .sidebar .active {
      width: 70%;
   }

   .menu-container {
      flex-direction: column;
      padding: 1%;
      margin: 2em auto;
   }

   .total {
      display: none;
   }

   .menu-info {
      width: 100%;
      margin: 0;
   }

   .menu-heading h1 {
      font-size: 1.50rem;
   }

   .menu-info h3 {
      font-size: 1.125rem;
   }

   .menu-info p {
      font-size: 1rem;
   }

   .menu-heading span {
      font-size: 1.25rem;
   }

   .menu-price {
      width: 100%;
      text-align: left;
      margin-top: .5em;
   }

   .menu-price p {
      padding-left: 0;
   }

   .menu-og-micro {
      display: none;
   }

   .menu-micro {
      display: block;
   }

   .menu-micro span,
   .menu-min span {
      font-size: 1.25rem;
   }

   .menu-break {
      display: none;
   }

   .menu-min {
      display: block;
   }

}


@media only screen and (max-width: 320px) {
   .sidebar {
      top: 17%;
   }

   .sidebar a,
   .dropdown-btn {
      font-size: 1rem;
   }

   .menu-heading span {
      font-size: 1rem;
   }

   .menu-price {
      font-size: 1rem;
   }
}