/*-----Sub-Menu Styles-----*/
nav li {
   display: inline-block;
   list-style-type: none;
   position: relative;
}

nav li ul {
   position: absolute;
   top: 100%;
   left: 0;
   margin: 0;
   padding: 0;
   width: 700px;
}

nav li ul li {
   padding: 1% 0;
   display: inline;
   margin-left: auto;
   margin-right: auto;
}

.citas {
   background-color: #C74B72;
   color: #FFFFFF;
}

.citas:hover {
   border: 2px solid #C74B72;
   background-color: #FFFFFF;
   color: #C74B72;
}


/*-----SERVICES-----*/
.menu {
   /* border: 1px solid royalblue; */
   width: 80%;
   padding: 1em;
   margin: 5em auto 10em;
}

.menu-grid {
   /* border: 1px solid red; */
   max-width: 1300px;
   margin: 0 auto;
}

.menu-heading {
   /* border: 1px solid black; */
   margin: 2%;
   width: 600px;
}

.combo-title {
   font-weight: 300;
}

.menu-container {
   /* border: 1px solid fuchsia; */
   position: relative;
   margin: 4% auto;
   display: flex;
   flex-direction: row;
   width: 80%;
}

.menu-info {
   /* border: 1px solid yellow; */
   margin: 2%;
   letter-spacing: 1px;
   width: 600px;
}

.menu-info p {
   padding-left: 0;
}

.menu-price {
   /* border: 1px solid green; */
   margin: 2% 0;
   width: 200px;
   text-align: right;
}

.menu-price h2 { color: #C74B72;}
.menu-info h2{
   color: #C74B72;
   font-size: 1rem;
}

.menu-price p {
   font-size: 1rem;
}

.includes {
   font-size: 1rem;
   color: #9A9A9A;
   margin: 30px 0;
}

.soon {
   display: none;
}



/* 

WILL CENTER SUBMENU
nav li ul {
   left: 50%;
   transform: translateX(-50%);
}

WILL SHOW UP INFO ON HOVER
nav li {
   display: inline-block;
   list-style-type: none;
   position: relative;
}

nav li ul {
   display: none;
   position: absolute;
   top: 100%;
   left: 0;
   margin: 0;
   padding: 0;
   width: 700px;
}

nav li ul li {
   padding: 1% 0;
   display: inline;
   margin-left: auto;
   margin-right: auto;
}

nav li:hover > ul {
   display: block;
}
 */