/*-----Responsive-----*/
@media only screen and (max-width: 1440px){
   h3 {
      font-size: 1.50rem;
   }
   nav a {
      font-size: 1rem;
   }
   /*-----Intro-----*/
   .intro {
      height: 100vh;
   }
   .logoName {
      margin-bottom: 8em;
      width: 25%;
   }
   .tagline {
    font-size: 1.15rem;
   }
   /*-----About Us-----*/
   .about-us-body p {
      font-size: 1.25rem;
   }
   /*-----Services-----*/
   .services .section-title {
      margin-top: 50px;
   }
   /*-----Promos-----*/
   .promo-container {
      width: 1000px;
   }
   .promo-card {
      width: 400px;
      height: 580px;
      margin: auto;
   }
   .promo-content p {
      font-size: 1.25rem;
   }
   /*-----Clinic-----*/
   .clinic-info {
      height: 100vh;
   }
}

@media only screen and (max-width: 1366px){
   /*-----Intro-----*/
   .intro {
      height: 85vh;
   }
   /*-----Clinic-----*/
   .clinic-info {
      height: 85vh;
   }
}

@media only screen and (max-width: 1112px) {
   /*----------*/
   .logoName {
      margin-bottom: 9em;
      width: 30%;
   }
   h3 {
      font-size: 1.25rem;
   }
   .footer-nav a {
      font-size: 1rem;
   }
   .services .section-title, .promo .section-title {
      font-size: 2.25rem;
   }
   .intro {
      padding: 10vh 1em;
   }
   /*-----About Us-----*/
   .about-us-content{
      width: 900px;
   }
   .about-us-video video{
      width: 440px;
   }
   .about-us-video {
      margin-left: 0;
   }
   .about-us-body {
      margin: 0 2%;
   }
   .about-us-body span {
      font-size: 1.30rem;
   }
   /*-----Services-----*/
   .service-grid {
      flex-wrap: wrap;
      align-content: center;
   }
   .x {
      display: block;
   }
   /*-----Promos-----*/
   .promo-card {
      height: 540px;
   }
   .promo-content p{
      font-size: 1.20em;
   }
   .promo span{
      font-size: 1em;
   } 
   /*-----Social-----*/
   .contact h3 {
      font-size: 1.25em;
   }
   .insta .feed {
      margin-bottom: 2%;
   }
   .insta .feed-content {
      margin: 3% 2.5%;
   }
   /*-----Contact-----*/
   .clinic-title {
      font-size: 1.75rem;
   }
   .location h2, .in-touch h2, .in-touch span {
      font-size: 1rem;
   }
   .contact-btn {
      font-size: 1.25rem;
   }
   /*-----Clinic-----*/
   .in-touch {
      width: 440px;
   }
   .clinic .map iframe {
      width: 400px;
      height: 400px;
   }
}

@media only screen and (max-width: 1024px) {
   /*-----Header-----*/
    nav a {
      font-size: .95rem;
   }
   nav ul {
      margin: 15px 0 0 0;
   }
   .logo {
      top: 15px;
      width: 70px;
   }
   /*-----Intro-----*/
   .moto{
      color: #333333;
      width: 100%;
      font-size: 1.25rem;
   }
   /*-----About Us-----*/
   .about-us{
      width: 90%;
   }
   .about-us-video {
      margin-top: 3%;
   }
   .about-us-content{
      width: 800px;
   }
   .about-us-body p {
      font-size: 1.15em;
   }
   /*----Services-----*/
   .service-grid {
      height: 600px;
   }
   .container {
      flex-wrap: wrap;
      margin: 1% auto;
   }
   .image {
      display: inline-block;
      padding: 1% 3%;
   }
  /*-----Promos-----*/
  .promo {
     height: 950px;
  }
  .promo-container {
   width: 800px;
   height: 600px;
   }
   .promo-card {
      width: 350px;
   }
   .promo-title {
      font-size: 1.50rem;
   }
   .promo-content p {
      font-size: 1.15rem;
   }
   .promo-btn {
      font-size: 1.25rem;
   }
  /*-----Social-----*/
   .contact-content {
      width: 900px;
   }
   .contact h3 {
      font-size: 1.15em;
   }
   .map {
      margin: 4em 1em;
   }
   .feed {
      margin: 60px auto;
   }
   .feed-content {
      width: 190px;
      height: 190px;
   }
   /*-----Contact-----*/
   .clinic h1 {
      font-size: 1.40rem;
   }
   .clinic p {
      font-size: 1rem;
   }
   .clinic-title {
      margin: .5em;
   }
  .clinic .map {
     top: 22%;
  }
  .contact-btn {
     margin: 40px 0;
  }
}


@media only screen and (max-width: 834px) {
   /*-----Nav-----*/
   /*-----Intro-----*/
   .intro {
      height: 60vh;
   }
   .logoName{
      width: 25%;
    }
   /*-----About-----*/
   .about-us-content {
      flex-direction: column;
      width: 600px;
   }
   .moto {
      text-align: center;
   }
   .about-us-video {
      margin: 5% auto;
      width: 500px;
   }
   .about-us-body {
      width: 90%;
      margin: 3%;
   }
   .about-us-body span {
      font-size: 1.75rem;
   }
   .about-us-body p{
      font-size: 1.50rem;
      margin: auto;
   }
   /*-----Services-----*/
   .service-grid {
      height: 1000px;
   }
   .container {
      flex: 50%;
   }
   .image {
      padding: 5%;
   }
   .overlay {
      width: 85%;
      height: 85%;
   }
   /*-----Promo-----*/
   .promo {
      height: 1800px;
   }
   .promo-container {
      flex-direction: row;
      width: 100%;
      height: 1500px;
   }
   .promo-card {
      width: 480px;
      height: 650px;
   }
   .promo-title {
      font-size: 2.25em;
   }
   .promo-content p {
      font-size: 1.50em;
   }
   .promo-highlight {
      margin-bottom: 0;
   }
   /*-----Social-----*/
   .contact-content {
      flex-direction: column;
      width: 80%;
   }
   .location, .insta {
      height: 700px;
      width: 100%;
      margin: 3% auto;
   }
   .contact h3 {
      font-size: 1.35rem;
      width: 500px;
   }
   .feed-content {
      width: 220px;
      height: 220px;
   }
   /*-----Footer-----*/
   .footer-nav a {
      font-size: 1.50rem;
   }
   /*-----Clinic-----*/
   .clinic {
      width: 100%;
   }
   .clinic .map iframe {
      width: 380px;
      height: 380px;
   }
   .clinic .map {
      top: 35%;
   }
   .clinic .location {
      width: 500px;
   }
   .clinic h1 {
      font-size: 1.50rem;
   }
   .in-touch h2 {
      font-size: 1.15rem;
   }
   .clinic .location h2 {
      font-size: 1.20rem;
   }
   .schedule {
      margin-bottom: 3em;
   }
}


@media only screen and (max-width: 768px) {
   /*-----Nav-----*/
   /*-----Intro-----*/
   
   /*-----Services-----*/
   .service-grid {
      height: 1000px;
   }
   .container {
      flex: 50%;
   }
   .image {
      padding: 5%;
   }
   /*-----Promo-----*/
   .promo {
      height: 1800px;
   }
   .promo-container {
      flex-direction: row;
      width: 100%;
      height: 1500px;
   }
   .promo-card {
      width: 450px;
      height: 650px;
   }
   .promo-title {
      font-size: 2.25em;
   }
   .promo-content p {
      font-size: 1.50em;
   }
   .promo-highlight {
      margin-bottom: 0;
   }
   /*-----Footer-----*/
   .footer-nav a {
      font-size: 1.25rem;
   } 
   /*-----Clinic-----*/
   .clinic .location {
      height: 800px;
   }
   .clinic .map iframe {
      width: 340px;
   }
   .clinic .map {
      top: 25%;
   }
   .clinic .location h2 {
      font-size: 1.15rem;
      padding-left: .50em;
   }
   .in-touch h2, .clinic span{
      font-size: 1.20rem;
   }
   .clinic .map iframe {
      height: 500px;
   }
   .clinic-content {
      height: 800px;
   }
   .schedule {
      margin-bottom: 5em;
   }
   .clinic-foot {
      margin: 50px auto;
   }
}


@media only screen and (max-width: 600px) {
   /*-----Nav-----*/
   nav {
      /* display: none; */
   }
   /*-----Intro-----*/
   .intro {
      height: 85vh;
   }
   .logoName {
      width: 30%;
   }
   .intro .section-title{
      font-size: 1rem;
   }
   /*-----About-----*/
   .about-us {
      width: 90%;
      padding: 2em;
   }
   .moto {
      font-size: 1rem;
      width: 470px;
   }
   .about-us-content {
      width: 90%;
      margin: auto;
   }
   .about-us-video {
     margin-left: 5%;
   }
   .about-us-video video{
      width: 380px;
      height: 350px;
   }
   .about-us-body {
      width: 85%;
      margin-left: 8%;
   }
   .about-us-body span {
      font-size: 1.15rem;
   }
   .about-us-body p{
      font-size: 1rem;
      margin: auto;
      padding: 0;
   }
   /*-----Services-----*/
   .services {
      margin: 2em auto;
      padding: 1em 3em;
   }
   .service-grid {
      height: 700px;
   }
   /*-----Promo-----*/
   .promo {
      height: 1400px;
   }
   .promo-container {
      height: 1000px;
   }
   .promo-card {
      width: 350px;
      height: 440px;
   }
   .promo-title {
      font-size: 1.75em;
   }
   .promo-content p {
      font-size: 1em;
   }
   .promo-btn {
      font-size: 1em;
   }
   /*-----Social-----*/
   .contact {
      width: 90%;
   }
   .contact-content {
      width: 100%;
   }
   .contact h3 {
      font-size: 1em;
      width: 80%;
   }
   .insta a {
      font-size: 1em;
   }
   .location, .insta {
      width: 90%;
   }
   .map iframe {
      width: 400px;
   }
   .map {
      top: 15%;
   }
   .insta {
      height: 650px;
   }
   .feed {
      margin: 50px auto;
      width: 95%;
      padding: 2% 1%;
   }
   .feed-content {
      width: 180px;
      height: 180px;
   }
   /*-----Footer-----*/
   footer {
      margin-top: 50px;
   }
   .footer-nav ul {
      margin: 0 0 0 30px;
   }
   .footer-nav a, .copyright {
      font-size: 1rem;
   }
   /*-----Clinic-----*/
}


@media only screen and (max-width: 480px) {
   /*-----Nav-----*/
   .fb {display: none;}

   .tel {display: block;}
   /*-----Intro-----*/
   /*-----About-----*/
   /*-----Services-----*/
   /*-----Promo-----*/
   /*-----Social-----*/
   /*-----Footer-----*/
   /*-----Clinic-----*/
}

 

@media only screen and (max-width: 320px){
   
}  


/* .fb {display: block;}

.tel {display: none;} */